table{
    width: 100%;
}
thead tr th{
    font-size: 1rem;
    border-radius: 16px;
}
tbody tr td{
    font-size: 1rem;
}
tbody tr th{
    font-size: 1rem;
    color: seashell;
    letter-spacing:0.075rem ;
    font-weight:400 ;
}
.table tbody th,.table tbody td,.table thead th{
    padding: 0.45rem 0.25rem;
}
.flag{
  width: 100%;
}
.th-cases{
    background: rgb(252,223,127);
    background: linear-gradient(114deg, rgba(252,223,127,1) 45%, rgba(255,255,255,1) 120%);
}
.th-death{
    background: rgb(248,110,121);
    background: linear-gradient(114deg, rgba(248,110,121,1) 45%, rgba(255,255,255,1) 120%);
}
.th-tests{
    background: rgb(102,226,131);
    background: linear-gradient(114deg, rgba(102,226,131,1) 45%, rgba(255,255,255,1) 120%);
}
.th-country,.th-flag{
    background: rgb(173,186,176);
background: linear-gradient(114deg, rgba(173,186,176,1) 45%, rgba(230,230,255,1) 120%);
}


.table-striped tbody tr:nth-of-type(even){
    background-color: rgba(118, 126, 141, 0.5);
}
.table td{
    padding: 0 0.75rem;
}
.td-country{
    width: 25%;
    text-align: left;
}
.td-flag{
    width: 5%;
}
.td-tdy-cases,
.td-tdy-death,
.td-ttl-death,
.td-ttl-cases,
.td-ttl-tests{
    width: 14%;
}

.td-tdy-cases,
.td-ttl-cases{
  color: rgb(252,223,127);;
}
.td-tdy-death,
.td-ttl-death{
    color: rgb(248,110,121);
}
.td-ttl-tests{
    color: rgb(102,226,131);
}


.sticky-top{
    top:1rem;
}

@media screen and (max-width:768px){
    thead tr th{
        font-size: 1rem;
        border-radius: 16px;
    }
    tbody tr td{
        font-size: 1rem;
    }
    tbody tr th{
        font-size: 1rem;
        font-weight:500 ;
    }
    
  }
  
 @media screen and (max-width:576px){
.td-flag,.th-flag{
    display: none;
}
    
}



/* -----------------------------------------
  =Default css to make the demo more pretty
-------------------------------------------- */

  p {
    margin: 0;
    padding: 10px 0;
    color: #777;
  }
  
 
  .load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
  }
  
  .load-wrapp p {
    padding: 0 0 20px;
  }
  .load-wrapp:last-child {
    margin-right: 0;
  }
  
    
  .ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
  }
  
  .ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
  }
  
  .ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282b3;
  }
    
  .load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
  }

  @keyframes loadingE {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
  
  

  .letter-holder {
    padding: 16px;
  }
  
  .letter {
    float: left;
    font-size: 14px;
    color: #777;
  }
  .load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
  }
  
  .l-1 {
    animation-delay: 0.48s;
  }
  .l-2 {
    animation-delay: 0.6s;
  }
  .l-3 {
    animation-delay: 0.72s;
  }
  .l-4 {
    animation-delay: 0.84s;
  }
  .l-5 {
    animation-delay: 0.96s;
  }
  .l-6 {
    animation-delay: 1.08s;
  }
  .l-7 {
    animation-delay: 1.2s;
  }
  .l-8 {
    animation-delay: 1.32s;
  }
  .l-9 {
    animation-delay: 1.44s;
  }
  .l-10 {
    animation-delay: 1.56s;
  }
  
  @keyframes loadingF {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  